.home-view {
  padding: 2rem;
  text-align: center;
}

.home-view h1 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  /* color: #333; */
}

.home-view p {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  /* color: #666; */
}

.cta-button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: #fff;
  background-color: #ff6347; /* Tomato color for buttons */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #e5533d; /* Darker tomato color on hover */
}

.hours-section, .location-section {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #f9f9f9; /* Light background for sections */
  border-radius: 5px;
}

.hours-section h2, .location-section h2 {
  margin-bottom: 1rem;
  color: #ff6347; /* Tomato color for headings */
}

.hours-section ul {
  list-style-type: none;
  padding: 0;
}

.hours-section li {
  margin: 0.5rem 0;
  color: #666;
}

.location-section p {
  color: #666;
}

/* Hero Section Styles */
.hero-section {
  position: relative; /* Set position to relative for absolute positioning of the overlay */
  background-image: url('../../img/bg-hero.jpg'); /* Update with your image path */
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 5rem 2rem;
  text-align: center;
}

.hero-section::after {
  content: ''; /* Creates a pseudo-element */
  position: absolute; /* Position it absolutely within the hero section */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 1; /* Place it behind the text */
}

.hero-section h1,
.hero-section p,
.hero-section button {
  position: relative; /* Bring text elements above the overlay */
  z-index: 2; /* Place them above the overlay */
}

.hero-section h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-section p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

/* Sections Container Styles */
.sections-container {
  display: flex;
  justify-content: center;
  gap: 120px;
  margin-top: 2rem;
}

/* Card Styles */
.card {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width: 300px;
  text-align: center;
}

.hours-section h2, .location-section h2 {
  color: #ff6347; /* Tomato color for headings */
}

.hours-section ul {
  list-style-type: none;
  padding: 0;
}

.hours-section li {
  margin: 0.5rem 0;
  color: #666;
}

.location-section p {
  color: #666;
}